@charset "utf-8";

/* 메인 페이지 */
/* key visual */
.key_visual {
  overflow: hidden;
  height: 580px;
  background: #000;
  text-align: center;
}
.key_visual.person {
  background: url(../images/main/img-kv-person.jpg) no-repeat center;
  background-size: cover;
}
.key_visual.company {
  background: url(../images/main/img-kv-company.jpg) no-repeat center;
  background-size: cover;
}
.key_visual.admin {
  background: url(../images/main/img-kv-admin.jpg) no-repeat center;
  background-size: cover;
}
.key_visual .txt_visual {
  margin-top: 85px;
}
.key_visual .txt_visual h2 {
  font-size: 36px;
  color: #fff;
}
.key_visual .txt_visual p {
  margin-top: 16px;
  font-size: 16px;
  color: #fff;
  line-height: 1.63;
}
.key_visual .login_box {
  width: 548px; height: 257px;
  margin: 40px auto 0;
  background: #fff;
}
.key_visual .login_box .login_tab {
  border-bottom: 1px solid #d2d2d2;
}
.key_visual .login_box .login_tab::after {
  content: '';
  display: table;
  clear: both;
}
.key_visual .login_box .login_tab > li {
  position: relative;
  float: left;
  width: calc(100% / 3); height: 54px;
  line-height: 54px;
}
.key_visual .login_box .login_tab > li > a {
  font-size: 16px; font-weight: 500;
  color: #000;
}
.key_visual .login_box .login_tab > li.active::after {
  content: '';
  position: absolute;
  left: 0; bottom: -1px;
  width: 100%; height: 2px;
  background: #ff7a00;
}
.key_visual .login_box .login_tab > li.active a {
  color: #ff7a00;
}
.key_visual .login_box .login_con {
  padding: 37px 60px;
}
.login_box .login_con .login_con_top {
  overflow: hidden;
}
.login_box .login_con .login_con_top .left_con {
  float: left;
  width: 288px;
}
.login_box .login_con .login_con_top .left_con .inp_box:last-child input {
  border-top: 0;
}
.login_box .login_con .login_con_top .right_con {
  float: left;
  width: 140px;
}
.login_box .login_con .login_con_top .right_con .btn_login {
  width: 100%; height: 87px;
  line-height: 87px;
}
.login_box .login_con .login_con_btm {
  overflow: hidden;
  margin-top: 22px;
  text-align: left;
}
.login_box .login_con .login_con_btm .chk_inp_box {
  float: left;
}
.login_box .login_con .login_con_btm .chk_inp_box:last-of-type {
  margin-left: 26px;
}
.login_box .login_con .login_con_btm .forgot_list {
  overflow: hidden;
  float: left;
  margin: 2px 0 0 68px;
}
.login_box .login_con .login_con_btm .forgot_list > li {
  float: left;
  height: 13px;
  margin-left: 12px; padding-left: 12px;
  border-left: 1px solid #e8e8e8;
}
.login_box .login_con .login_con_btm .forgot_list > li:first-child {
  margin-left: 0; padding-left: 0;
  border-left: 0;
}

.company_box {
  margin-top: 80px;
}
.company_box h3 {
  font-size: 30px; font-weight: 400;
  text-align: center;
}
.company_box .company_list {
  overflow: hidden;
  margin-top: 28px;
}
.company_box .company_list > li {
  float: left;
  width: 25%; height: 206px;
  padding: 30px 30px 40px 30px;
  border: 1px solid #e8e8e8;
  box-sizing: border-box;
}
.company_box .company_list > li:nth-child(5),
.company_box .company_list > li:nth-child(6),
.company_box .company_list > li:nth-child(7),
.company_box .company_list > li:nth-child(8) {
  border-top: 0;
}
.company_box .company_list > li:not(:last-child) {
  border-right: 0;
}
.company_box .company_list > li:nth-child(4) {
  border-right: 1px solid #e8e8e8;
}
.company_box .company_list > li > a {
  display: block;
}
.company_box .company_list .company_logo {
  display: block;
  height: 80px;
  line-height: 80px;
  text-align: center;
}
.company_box .company_list > li > a > strong {
  display: block;
  margin-top: 14px;
  color: #000;
}
.company_box .company_list .company_desc {
  display: block;
  margin-top: 10px;
  font-size: 16px;
}
.company_box .btn_company {
  position: relative;
  left: 50%;
  display: inline-block;
  width: 153px; height: 54px;
  margin-top: 40px;
  line-height: 54px;
  text-align: center;
  transform: translateX(-50%);
}